.idea/*
.DS_Store
dataset/
checkpoints/
run_scripts/caption/stage1_checkpoints
run_scripts/caption/stage2_checkpoints
run_scripts/caption/stage1_logs
run_scripts/caption/stage2_logs
run_scripts/glue/checkpoints
run_scripts/glue/logs
run_scripts/snli_ve/base_checkpoints
run_scripts/snli_ve/base_logs
run_scripts/snli_ve/checkpoints
run_scripts/snli_ve/logs
run_scripts/glue/base_checkpoints
run_scripts/glue/base_logs
run_scripts/glue/resmo_logs
run_scripts/glue/resmo_checkpoints
run_scripts/glue/tutel_logs
run_scripts/glue/tutel_checkpoints
run_scripts/glue/fairseq_checkpoints
run_scripts/snli_ve/resmo_logs
run_scripts/snli_ve/resmo_checkpoints
run_scripts/snli_ve/dummy_checkpoints
run_scripts/snli_ve/dummy_logs
run_scripts/snli_ve/tutel_checkpoints
run_scripts/snli_ve/tutel_logs
run_scripts/snli_ve/dyn_scale_checkpoints